@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
